<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cp="http://typo3.org/ns/Db/T3CRRSitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="FrameOnly"/>
<f:section name="Main">

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="special-list">
                <f:for each="{data.bodytext -> cp:iterator.explode(glue: 'constant:LF')}" as="line"
                       iteration="iterator">
                    <li>{line}</li>
                </f:for>
            </ul>
        </div>
    </div>
</div>

</f:section>
</html>
