<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="col-lg-4 col-md-6 teaser">
    <div>
        <f:if condition="{files.0}">
            <div class="teaser-head">
                <img src="{f:uri.image(image: files.0, width: '330', height: 'c330')}" alt="{files.0.alternative}">
            </div>
        </f:if>
        <div class="teaser-content">
            <h4 class="name">{data.header}</h4>
            <h5 class="position">{data.subheader}</h5>
        </div>
    </div>
    <div class="teaser-footer">
        {data.bodytext -> f:format.html()}
    </div>
</div>

</html>
