<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FrameOnly"/>
<f:section name="Main">

    <section class="downloads">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="download-list">
                        <f:cObject data="{colPos: 18181, parent: data.uid, wrap: '|'}"
                                   typoscriptObjectPath="lib.dynamicContent"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>
