<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cp="http://typo3.org/ns/Db/T3CRRSitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="header">
    <f:for each="{data.header -> cp:iterator.explode(glue: 'constant:LF')}" as="line" iteration="iterator">
        <span class="{f:if(condition: iterator.isFirst, then: 'underline')}">{line}</span><br/>
    </f:for>
</f:variable>

<div class="hero main-hero {data.size} {f:if(condition: data.size_subheader, then: 'single-subheading')} {f:if(condition: files.0, else: 'no-image')} hero-with-text" id="c{data.uid}">
    <div class="background-image {files.0.referenceProperties.position}" role="img" aria-label="{files.0.alternative}">
        <div class="container">
            <div class="hero-content">
                <h1>{header -> f:format.raw()}</h1>

                <h5>{data.subheader}</h5>

                <f:if condition="{data.header_link}">
                <f:link.typolink parameter="{data.header_link}" class="btn lightblue">{f:if(condition: data.accessibility_title, then: data.accessibility_title, else: 'weiterlesen')}</f:link.typolink>
                </f:if>
            </div>
        </div>

        <svg id="hero-desktop" class="{f:if(condition: data.mirrored, then: 'flip')}" width="845px" height="751px" viewBox="0 0 845 751" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <path d="M844.266293,0 L137.542917,0 L6.21186293,524.057459 C-22.4807098,638.550424 64.103761,749.510878 182.137483,749.510878 L844.266293,749.510878 L844.266293,0 Z" id="hero-desktop-path"></path>
                <linearGradient id="hero-desktop-linear" x1="350" y1="447" x2="-50" y2="447" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"></stop>
                    <stop offset="1" stop-color="white"></stop>
                </linearGradient>
            </defs>
            <g id="hero-desktop-g">
                <mask id="hero-mask-desktop" fill="white">
                    <use xlink:href="#hero-desktop-path"></use>
                </mask>
                <f:if condition="{files.0}">
                    <f:variable name="image">{f:uri.image(image: files.0, width: '845', height: '751c', cropVariant: 'default')}</f:variable>
                    <f:variable name="width">{cp:resource.imageSize(dimension: 'width')}</f:variable>
                    <f:variable name="height">{cp:resource.imageSize(dimension: 'height')}</f:variable>
                    <image mask="url(#hero-mask-desktop)" href="{image}" width="844" height="749" class="{files.0.properties.position}"></image>
                    <rect mask="url(#hero-mask-desktop)" x="-10" width="845" height="894" fill="url(#hero-desktop-linear)"/>
                </f:if>
            </g>
        </svg>

        <svg id="hero-mobile" class="{f:if(condition: data.mirrored, then: 'flip')}" width="1021" height="856" viewBox="0 0 1021 856" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="hero-mask-mobile" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1021" height="803">
                <path d="M1020.41 0H-0.00012207L224.536 641.641C266.608 761.865 395.269 828.284 517.643 792.95L1020.41 647.784V0Z" fill="#C4C4C4"/>
            </mask>
            <g mask="url(#hero-mask-mobile)">
                <f:if condition="{files.0}">
                    <f:variable name="image">{f:uri.image(image: files.0, width: '845', height: '751c', cropVariant: 'default')}</f:variable>
                    <f:variable name="width">{cp:resource.imageSize(dimension: 'width')}</f:variable>
                    <f:variable name="height">{cp:resource.imageSize(dimension: 'height')}</f:variable>
                    <image mask="url(#hero-mask-mobile)" x="0" y="-100" href="{image}" width="1100" height="1100" class="{files.0.properties.position}"></image>
                </f:if>
            </g>
        </svg>
    </div>
</div>

</html>
