<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="association-item">
    <div>
        <div class="association-head">
            <img src="{files.0.publicUrl}" alt="{files.0.alternative}">
        </div>
        <div class="association-content">
            <h4>{data.header}</h4>
            {data.bodytext -> f:format.html()}
        </div>
    </div>
    <div class="association-footer">
        <p>
            <f:link.typolink parameter="{data.header_link}" class="btn lightblue secondary">
                weiterlesen
            </f:link.typolink>
        </p>
    </div>
</div>

</html>
