<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="numberType"><f:if condition="{data.uploads_description} == 2">
        <f:then>float</f:then>
        <f:else>int</f:else>
</f:if></f:variable>

<div class="col-lg-4 col-md-6 teaser">
    <div class="counter-item">
        <div class="counter-card">
            <div class="value {data.frame_class}">
                <div class="counter-number" data-number-type="{numberType}" data-stop="{data.header}"
                     data-duration="{data.speed}">
                    {data.header}
                </div>
            </div>
            <div class="unit">
                <h4>{data.subheader}</h4>
            </div>
        </div>
        <div class="counter-subline">
            <h5>{data.bodytext}</h5>
        </div>
    </div>
</div>

</html>
