<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:t3crr="http://typo3.org/ns/Db/T3CRRSitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">

<section class="text-element">
    <f:if condition="{data.header}">
        <h4>{data.header}</h4>
    </f:if>
    <f:if condition="{data.bodytext}">
        <f:for each="{data.bodytext -> t3crr:iterator.explode(glue: 'constant:LF')}" as="line" iteration="iterator">
            <p>{line}</p>
        </f:for>
    </f:if>
</section>

</html>
