<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FrameOnly"/>
<f:section name="Main">

<section class="infos">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="info-item" style="--info-icon-47px: url({f:uri.image(image: files.0, width: '330', height: 'c330')})">
                    <h3>{data.header}</h3>
                    {data.bodytext -> f:format.html()}
                </div>
            </div>
        </div>
    </div>
</section>

</f:section>
</html>
