<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cp="http://typo3.org/ns/Db/T3CRRSitepackage/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="header">
    <f:for each="{data.header -> cp:iterator.explode(glue: 'constant:LF')}" as="line" iteration="iterator">
        <span class="{f:if(condition: iterator.isFirst, then: 'underline')}">{line}</span><br>
    </f:for>
</f:variable>

<div class="colored-background img-left" id="c{data.uid}">
    <f:if condition="{files.0}">
        <div class="background-image {files.0.referenceProperties.position}" role="img" aria-label="{files.0.alternative}">
            <div class="container">
                <div class="element-content">
                    <h2 class="mb-4">{header -> f:format.raw()}</h2>
                    <p>{data.bodytext}</p>
                    <f:link.typolink parameter="{data.header_link}" class="btn white">{f:if(condition: data.subheader, then: data.subheader, else: 'weiterlesen')}</f:link.typolink>
                </div>
            </div>

            <svg id="svg-colored-bg-desktop-left" width="845px" height="751px" viewBox="0 0 845 751" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path d="M0.5 0H698L830.971 504.281C863.581 627.95 770.312 749 642.416 749H0.5V0Z" id="colored-bg-path-desktop-left"></path>
                </defs>
                <g id="svg-colored-bg-mask-desktop-g-left">
                    <mask id="svg-colored-bg-mask-desktop-left" fill="white">
                        <use xlink:href="#colored-bg-path-desktop-left"></use>
                    </mask>
                    <f:if condition="{files.0}">
                        <f:variable name="image">{f:uri.image(image: files.0, width: '844', height: '749c', cropVariant: 'default')}</f:variable>
                        <f:variable name="width">{cp:resource.imageSize(dimension: 'width')}</f:variable>
                        <f:variable name="height">{cp:resource.imageSize(dimension: 'height')}</f:variable>
                        <image mask="url(#svg-colored-bg-mask-desktop-left)" href="{image}" width="{width}" height="{height}"></image>
                    </f:if>
                </g>
            </svg>

            <svg id="svg-colored-bg-mobile-left" width="1021" height="856" viewBox="0 0 1021 856" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <path d="M0 0H1020.41L792.18 649.567C751.693 764.798 628.2 828.289 510.926 794.165L0 645.5V0Z" fill="#C4C4C4" id="colored-bg-path-mobile-left" />
                </defs>
                <g id="colored-bg-path-mobile-g-left" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <mask id="svg-colored-bg-mask-mobile-left" fill="white" mask-type="alpha">
                        <use xlink:href="#colored-bg-path-mobile-left"></use>
                    </mask>
                    <f:if condition="{files.0}">
                        <f:variable name="image">{f:uri.image(image: files.0, width: '1100', height: '1100c', cropVariant: 'default')}</f:variable>
                        <f:variable name="width">{cp:resource.imageSize(dimension: 'width')}</f:variable>
                        <f:variable name="height">{cp:resource.imageSize(dimension: 'height')}</f:variable>
                        <image mask="url(#svg-colored-bg-mask-mobile-left)" x="0" y="-100" href="{image}" width="{width}" height="{height}"></image>
                    </f:if>
                </g>
            </svg>
        </div>
    </f:if>
</div>

</html>
